{% load compressed %}

<!doctype html>
<html>
	<head>
		<title>
			{% block title %}
			{% endblock %}
		</title>
		{% compressed_css 'core' %}
		{% compressed_css 'admin' %}		
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class='wrapper'>
			<div class='header-links'>
				<ul>
					<li><a href='/'>Home</a></li>
					<li><a href='/about-us/'>About Us</a></li>
					<li><a href='/contact-us/'>Contact</a></li>
				</ul>	
			</div>
			<div class='breadcrumbs'>
				{{ controller.panels.header_content.blocks.breadcrumbs }}
			</div>
			<div class='content'>
				{% block content %}
				{% endblock %}
			</div>
			<div style='clear:both;'></div>
		</div>		
		{% compressed_js 'core' %}
		{% compressed_js 'edit' %}
	</body>
</html>